<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" [formControl]="startDate" />
    <input matEndDate placeholder="End date" [formControl]="endDate" />
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button mat-raised-button color="primary" (click)="setDateRange()">
  Set Date Range
</button>
<button mat-raised-button color="primary" (click)="redrawCanvas()">
  Redraw Canvas
</button>

<div class="timeline-date-controls">
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editStart('subtract', 1, 'year')"
    class="timeline-date-control-button">
    -year
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editStart('subtract', 1, 'month')"
    class="timeline-date-control-button">
    -month
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editStart('add', 1, 'month')"
    class="timeline-date-control-button">
    +month
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editStart('add', 1, 'year')"
    class="timeline-date-control-button">
    +year
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="setDateRangeDefault()"
    class="timeline-date-control-button">
    Set Default Date Range
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editEnd('subtract', 1, 'year')"
    class="timeline-date-control-button">
    -year
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editEnd('subtract', 1, 'month')"
    class="timeline-date-control-button">
    -month
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editEnd('add', 1, 'month')"
    class="timeline-date-control-button">
    +month
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="timelineDateService.editEnd('add', 1, 'year')"
    class="timeline-date-control-button">
    +year
  </button>
</div>

<div class="timeline-containter">
  <app-timeline></app-timeline>
</div>

<br />
<app-filter></app-filter>
