<form class="house-add-form">
  <mat-form-field>
    <mat-label>House</mat-label>

    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto" />

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
      <mat-option
        *ngFor="let option of filteredOption$ | async"
        [value]="option"
        (click)="characterSelected()">
        {{ option.fullName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
