<mat-toolbar color="primary">
  <button mat-icon-button
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Bran's Timeline (Iteration #11352)</span>
  <span class="example-spacer"></span>

  <a mat-button routerLink="/timeline">Timeline</a>
  <a mat-button routerLink="/characters">Characters</a>
  <a mat-button routerLink="/moments">Moments</a>
  <a mat-button routerLink="/books">Books</a>
  <a mat-button routerLink="/houses">Houses</a>
  <a mat-button routerLink="/import">Import Tool</a>
</mat-toolbar>

<router-outlet></router-outlet>



