<form [formGroup]="updateForm">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input formControlName="firstName" matInput placeholder="Petyr">
    <mat-error *ngIf="firstName.errors?.['required']">required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input formControlName="lastName" matInput placeholder="Bailish">
    <mat-error *ngIf="lastName.errors?.['required']">required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nickname</mat-label>
    <input formControlName="nickName" matInput placeholder="Littlefinger">
  </mat-form-field>

  <mat-checkbox formControlName="isPov">POV</mat-checkbox>
  <button mat-raised-button color="primary" [disabled]="!updateForm.valid || updateForm.pristine"
          (click)="onUpdate()">
    Update
  </button>

  <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</form>


