:host {
  //background-color: azure;
  padding: .2em;
  margin: .2em;
  width: 400px;
}

.houses-container {
    display: inline-block;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

img {
    height: 40px;
    width: 40px;
    margin: 5px;
}
