:host {
  //background-color: azure;
  padding: .2em;
  margin: .2em;
}

.houses-container {
    display: inline-block;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
